@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">
	<div class="row">
		<div class="col">
			<img src="~/images/depictingphilosophy.webp" width=500 height=334 />
		</div>
		<div class="col-5">
			<h4>

				My name is Charles Massie.
				I was born on October 9th, 2002.
				I am the eldest son of my mother and father.
				I was born and raised in the mythical land of Ohio.<br />
				<br />
				I take interest in philosophy and the communication of ideas.
				Odd how one could say the same thing using different words and phrases and derive alternate interpretations.
				I have also found entertainment within video games.
				I did not have many games accessible to me, although Minecraft was one I had access to.

			</h4>
		</div>
		<div class="col">
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<p>Hello There!</p>
			<img src="~/images/me.jpg" width=99 height=138 />

		</div>
	</div>
</div>

<!--

	My name is Charles Massie.
	I was born on October 9th, 2002.
	I am the eldest son of my mother and father.
	I was born and raised in the mythical land of Ohio.

	I take interest in philosophy and the communication of ideas.
	Odd how one could say the same thing using different words and phrases and derive alternate interpretations.
	I have also found entertainment within video games.
	I did not have many games accessible to me, although Minecraft was one I had access to.

-->
